body{
	background-image: url('dark_wood.png');
	text-align: center;
}

#Header{
	border: solid 8px black;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	background-color: #8E41D5;
}

#LeftNav{
	width: 400px;
	border: solid 8px black;
	float: left;
	padding-bottom: 8px;
	background-color: #8E41D5;
}

h1{
	font-size: 60px;
	font-family: "Passion One";
	color: #FFBC00;
	font-weight: bold;
}

h3{
	font-size: 40px;
	font-family: "Passion One";
	color: #FFBC00;
	font-weight: bold;
}

a{
	color: white;
	font-weight: bold;
	font-size: 24px;
}

p{
	color: white;
	font-family: "Arial";
	font-weight: bold;
}

#bow{
	color: #FFBC00;
	font-weight: bold;
	font-size: 20px;
}

ul{
	list-style-type: none;
	padding-left: 0px;
}

#Content{
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border: solid 8px black;
	padding: 15px;
	background-color: #8E41D5;
}

#Footer{
	border: solid 8px black;
	background-color: #8E41D5;
}


